@charset 'utf-8';

/* Reset based on http://meyerweb.com/eric/tools/css/reset/ */
*{box-sizing:border-box}a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,button,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,input,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,select,small,span,strike,strong,sub,summary,sup,table,tbody,td,textarea,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}a{text-decoration:none}html{overflow-y:scroll}body{background-color:white}b,strong{font-weight:700}em,i{font-style:italic}h1,h2,h3,h4,h5,h6{font-weight:400}button,input[type=button],input[type=submit],label{cursor:pointer}q:lang(de){quotes:'»' '«' '›' '‹'}q:lang(en){quotes:'»' '«' '›' '‹'}abbr[title]{border-bottom:1px dotted #888!important;cursor:help}a abbr{cursor:pointer!important}.clearfix:after{clear:both;content:".";display:block;height:0;visibility:hidden}
/* Reset Ende */

@font-face {
font-family: 'Source Code Pro';
src: url("../fonts/SourceCodePro-Bold.woff") format("woff");
font-weight: bold;
font-style: normal;
font-display: swap;
}

@font-face {
font-family: 'Source Code Pro';
src: url("../fonts/SourceCodePro-Regular.woff") format("woff");
font-weight: normal;
font-style: normal;
font-display: swap;
}

a {
-webkit-transition: all 250ms ease-in;
-moz-transition: all 250ms ease-in;
transition: all 250ms ease-in;
}

::selection {
background: black;
color: white;
}

::-moz-selection {
background: black;
color: white;
}

img {
-moz-user-select: text;
-webkit-user-select: text;
user-select: text;
-moz-user-drag: none;
-webkit-user-drag: none;
user-drag: none;
}

.klar {
clear: both;
}

q:after {
content: '«';
}

q:before {
content: '»';
}

div.text > ul > li {
margin: 0 0 12px 0;
padding-left: 12px;
text-indent: -12px;
}

div.text > ul > li:before {
content: '› ';
display: block;
float: left;
width: 12px;
color: black;
}

body,
input {
font-family: 'Source Code Pro', 'Inconsolata ', 'Consolas', 'Droid Sans Mono', monospaced;
font-size: 14px;
line-height: 18px;
font-variant-numeric: tabular-nums;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
-webkit-text-size-adjust: none;
}

body {
padding: 2em;
text-align: center;
}

nav ul {
display: flex;
flex-flow: row wrap;
gap: 1em;
}

nav ul li {
display: flex;
flex: 1 1 auto;
margin: 0;
}

nav ul li a {
color: black;
background: lavenderblush;
font-weight: bold;
padding: 2em;
border-bottom: none;
width: 100%;
}

nav ul li a:hover {
color: white;
background: fuchsia;
}

div,
article {
text-align: left;
}

h1, h2, h3 {
font-weight: bold;
}

h1 {
margin: 0 0 2em 0;
}

h1 a {
display: inline-block;
height: 1.25em;
width: 1.25em;
font-size: 1.5em;
line-height: 1.05em;
border-radius: 50%;
color: white;
background: hotpink;
margin: 0 .5em 0 0;
}

h1 a:hover {
color: white;
background: fuchsia;
}

h2 {
text-transform: uppercase;
letter-spacing: .2em;
margin: 2em 0 .5em 0;
}

table + h2 {
margin-top: 5em;
}

h2, h3 {
color: fuchsia;
}

svg {
width: 100%;
height: auto;
margin: 0 0 4em 0;
}
	
table {
width: 100%;
text-align: left;
margin: 0 0 2em 0;
page-break-inside: avoid;
}

body:not(.angles) tr:hover td {
background: ghostwhite;
}

tr.grey,
td span {
color: darkgrey;
}

td,
tr {
margin: 0;
text-align: right;
}

th:nth-child(1),
th:nth-child(2),
td:nth-child(1),
td:nth-child(2),
th.cmt,
td.cmt {
margin: 0;
text-align: left;
}

td.cmt {
font-size: 12px;
line-height: 16px;
}

th {
font-weight: bold;
padding: 8px;
margin: 0;
color: white;
background: hotpink;
position: -webkit-sticky;
position: sticky;
top: .5em;
vertical-align: bottom;
z-index: 50;
}

td {
padding: 8px;
border-bottom: 1px solid lightgrey;
}

th:first-of-type,
td:first-of-type {
padding: 8px;
font-weight: bold;
text-align: left;
}

th:last-of-type,
td:last-of-type {
padding: 8px;
}

td.highlight {
color: white;
background-color: fuchsia;
}

td.midlight {
background-color: pink;
}

td.lowlight {
background-color: lavenderblush;
}

article p, 
article ul, 
article ol {
max-width: 40em;
margin: 0 0 1em 0;
}

.full p {
max-width: 100%;
}

li {
margin: 0 0 .5em 0;
}

li:target {
color: white;
background: hotpink;
padding: .25em .5em .35em .5em;
margin: 0 0 .5em -.5em;
}

a {
color: black;
border-bottom: 1px solid fuchsia;
}

a:hover {
color: fuchsia;
border-bottom-color: transparent;
}

a:active {
color: fuchsia;
border-bottom-color: fuchsia;
}

td a:after {
content: '↓';
}

button {
color: black;
background: lightgrey;
cursor: pointer;
padding: .2em .5em .35em .5em;
}

button:hover {
color: white;
background: fuchsia;
}

button.aktiv {
color: white;
background: deeppink;
}

/* DataTables */

.dataTables_filter {
max-width: 560px;
margin: 0 0 1em 0;
}

input {
color: black;
background: lavenderblush;
margin: 0 0 0 .5em;
padding: .2em;
}

input:focus {
color: white;
background: fuchsia;
}

input[type='search'] {
-webkit-appearance: none;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
cursor: pointer;
*cursor: hand;
}

table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
background: deeppink;
}

table.dataTable thead .sorting_asc:after  {
content: ' ▼';
}
table.dataTable thead .sorting_desc:after  {
content: ' ▲';
}
table.dataTable thead .sorting_asc_disabled:after  {
content: ' ▼';
color: rgba(255,255,255,.25);
}
table.dataTable thead .sorting_desc_disabled:after  {
content: ' ▲';
color: rgba(255,255,255,.25);
}

.dataTables_wrapper {
position: relative;
}

.dataTables_filter,
.dataTables_info {
display: inline-block;
margin: 0 .5em 1em 0;
}

.dataTables_wrapper .dataTables_processing {
position: absolute;
top: 0;
left: 0;
width: 100vw;
height: 100%;
max-height: 100vh;
padding: 4em;
font-size: 1.5em;
font-weight: bold;
text-align: center;
color: magenta;
background: rgba(255,255,255,.9);
align-self: middle;
z-index: 100;
}

.angles thead th:nth-child(2) {
text-align: right;
}

.angles thead th:nth-child(n+3) {
text-align: center;
}

.angles tbody td:nth-child(2) {
color: grey;
text-align: right;
}
